.gallery {
  padding: 100px 0;
  background-color: $clr-white;
  &-container {
    &:hover .owl-prev,
    &:hover .owl-next {
      visibility: visible;
      opacity: 1;
    }
  }
  &-item {
    background-color: $clr-white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
      rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
      rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    width: 100%;
    height: 374px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
  }
  &-img {
    overflow: hidden;
    max-width: 100%;
    max-height: 100%;
    &:hover img {
      transform: scale(1.05);
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      background-size: cover;
      background-position: center;
      transform: scale(1);
      transition: transform 0.3s ease-in-out;
    }
  }
  &-main {
    display: flex;
    justify-content: space-between;
    padding: 20px;
  }
  &-title {
    color: $clr-black-light;
    font-size: 20px;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    margin: 10px 0;
    letter-spacing: 1.1px;
  }
  &-text {
    color: #8c8c8c;
    font-size: 13px;
    margin-bottom: 10px;
    letter-spacing: 1px;
  }
  &-reviews {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    color: $clr-gray;
    font-size: 11px;
    font-weight: 400;
    &-star {
      display: flex;
      gap: 3px;
      i {
        transition: $transitionAll;
        &:hover {
          color: $clr-primary;
        }
      }
    }
    &-people {
      color: $clr-primary;
    }
  }
  &-price {
    color: $clr-black-light;
    margin-top: 10px;
    p {
      font-size: 13px;
    }
    span {
      font-size: 18px;
      color: $clr-primary;
    }
  }
  .owl-nav {
    color: $clr-white;
  }
  .owl-prev {
    background: $clr-white;
    position: absolute;
    left: 20px;
    top: 35%;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }
  .owl-prev span,
  .owl-next span {
    display: block;
    background: rgba(0, 0, 0, 0.8) !important;
    font-size: 30px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
  }
  .owl-next {
    position: absolute;
    right: 20px;
    top: 35%;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }
  .owl-theme .owl-nav [class*="owl-"]:hover {
    background: none !important;
  }
  .owl-dots {
    margin-top: 20px;
  }
}

@media only screen and (max-width: 640px) {
  .gallery {
    &-item {
      height: 420px;
    }
  }
}

@media only screen and (max-width: 600px) and (min-width: 480px) {
  .gallery {
    &-item {
      height: 520px;
    }
  }
}
