.home {
  width: 100%;
  position: relative;
  text-align: center;
  color: $clr-white;
  overflow: hidden;
  &:hover .owl-prev,
  &:hover .owl-next {
    visibility: visible;
    opacity: 1;
  }
  &-img {
    width: 100%;
    height: 100%;
    overflow: hidden;
    img {
      display: block;
      width: 100%;
      max-height: 100%;
      background-repeat: no-repeat;
      background-size: cover;
      object-fit: cover;
      transition: all ease-in-out 4s;
      animation: scale 4s ease-in-out infinite;
      transform-origin: 0 0;
      background-position: 50% 50%;
    }
  }
  &-container {
    display: block;
  }
  &-content {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
  }
  &-title {
    font-size: 45px;
    font-weight: 600;
    line-height: calc(49 / 45);

    color: $clr-white;
    letter-spacing: 1px;
    transition: $transitionAll;
    animation: TopToBot 4s ease-in-out infinite, opacity 4s ease-in-out infinite;
  }
  &-text {
    font-size: 24px;
    line-height: calc(28 / 24);
    color: $clr-white;
    margin: 25px 0;
    animation: TopToBot 4s ease-in-out infinite, opacity 4s ease-in-out infinite;
  }
  .owl-nav {
    color: $clr-white;
    font-size: 70px;
    font-weight: 200;
  }
  .owl-prev {
    position: absolute;
    left: 20px;
    top: 40%;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
  }

  .owl-next {
    position: absolute;
    right: 20px;
    top: 40%;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }
  .owl-theme .owl-nav [class*="owl-"]:hover {
    background: transparent !important;
  }
}

/* iPads (portrait) ----------- */
@media only screen and (max-width: 1024px) {
  .home {
    &-content {
      top: 30%;
    }
    .owl-prev,
    .owl-next {
      top: 30%;
    }
  }
}

@media only screen and (max-width: 910px) {
  .home {
    &-title {
      font-size: 35px;
      font-weight: 600;
      line-height: 1;
    }
    &-text {
      font-size: 20px;
      margin: 20px 0;
    }
    .owl-nav {
      font-size: 60px;
      font-weight: 200;
    }
  }
}
/* Smartphones (landscape) ----------- */
@media only screen and (max-width: 768px) {
  .home {
    &-content {
      top: 25%;
    }
    .owl-prev,
    .owl-next {
      top: 25%;
    }
  }
}

/* Big smartphones (portrait) (ie: Galaxy 3 has 360)*/
@media only screen and (max-width: 640px) {
  .home {
    &-content {
      top: 20%;
    }
    .owl-prev,
    .owl-next {
      top: 20%;
    }
    &-title {
      font-size: 20px;
      font-weight: 600;
      line-height: 1;
    }
    &-text {
      font-size: 15px;
      margin: 10px 0 25px;
    }
    .owl-nav {
      font-size: 50px;
      font-weight: 200;
    }
  }
}
@media only screen and (max-width: 375px) {
  .home {
    &-text {
      font-size: 15px;
      margin: 10px 0 15px;
    }
  }
}
