$clr-primary: #ff9219;
$clr-white: #fff;
$clr-white-light: #f5f5f5;
$clr-gray: #666666;
$clr-black: #000;
$clr-gray-light: #999999;
$clr-gray-dark: #1e1d1d;
$clr-black-light: #4e4e4e;
$clr-ff-primary: "Poppins", sans-serif;
$transitionAll: all 0.3s ease-in-out;
